html {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #141322 url('../img/loader.gif') no-repeat fixed center;
}

#container {
    visibility: hidden;
    display: grid;
    grid-gap: 0;
    grid-template-columns: 20px auto 20px;
    margin: 0;
    width: 100%;
    min-height: 100%;
}

#touchpad {
    height: 100vh;
    background-color: #141322;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.swiper {
    overflow: hidden;
    height: 100vh;
    background-color: #1d1e7d;
    border-color: #141322;
    border-style: solid;
    border-width: 0 9px 0 9px;
    grid-row-start: 1;
    grid-row-end: 2;
}

#hscroll {
    grid-column-start: 1;
    grid-column-end: 2;
}

#vscroll {
    grid-column-start: 3;
    grid-column-end: 4;
}

#hscroll .swiper__inner,
#vscroll .swiper__inner {
    display: block;
    position: relative;
    height: 15vh;
    width: 100%;
    left: 0;
}

.cursor {
    z-index: 1000;
    position: fixed;
    left: -25px;
    top: -25px;
    width: 50px;
    height: 50px;
    pointer-events: none;
    touch-action: none;
    mix-blend-mode: difference;
    opacity: 0;
}

.cursor__inner {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ff428e;
    border-radius: 50%;
}